In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.feature_extraction.text import HashingVectorizer

In [9]:
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df


def import_data(file):
    """create a dataframe and optimize its memory usage"""
    df = pd.read_csv(file, parse_dates=True, keep_date_col=True)
    df = reduce_mem_usage(df)
    return df

In [4]:
data = import_data("./data/parking_citations.corrupted.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3209: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

Memory usage of dataframe is 1264.91 MB
Memory usage after optimization is: 840.01 MB
Decreased by 33.6%

In [10]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1) 
       
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [11]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [12]:
missing_values_table(data)

                       Missing Values  % of Total Values
VIN                           8709705               99.8
Marked Time                   8435415               96.7
Meter Id                      6456512               74.0
Make                          4368470               50.1
Plate Expiry Date              794827                9.1
Route                           65354                0.7
Body Style                       8890                0.1
Fine amount                      6507                0.1
Color                            4115                0.0
Issue time                       2583                0.0
Violation Description             872                0.0
Location                          854                0.0
RP State Plate                    765                0.0
Agency                            545                0.0
Issue Date                        536                0.0
Latitude                            3                0.0
Longitude                           3                0.0

In [13]:
make = data['Make']
data = data.drop(['Make'], axis=1)

In [14]:
missing_values_table(data)

                       Missing Values  % of Total Values
VIN                           8709705               99.8
Marked Time                   8435415               96.7
Meter Id                      6456512               74.0
Plate Expiry Date              794827                9.1
Route                           65354                0.7
Body Style                       8890                0.1
Fine amount                      6507                0.1
Color                            4115                0.0
Issue time                       2583                0.0
Violation Description             872                0.0
Location                          854                0.0
RP State Plate                    765                0.0
Agency                            545                0.0
Issue Date                        536                0.0
Latitude                            3                0.0
Longitude                           3                0.0

In [15]:
data[data["VIN"].isna()==False]

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
1235876,4241125932,2014-10-31T00:00:00,805.0,NaN,NaN,CA,NaN,1ZVFT80N465228314,PA,BK,7045 LINDLEY AVE,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6402218.0,1894969.750
1235877,4241125943,2014-10-31T00:00:00,807.0,NaN,NaN,CA,201509.0,0199,PA,SL,6941 LINDLEY AVE,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6402214.5,1894293.000
1235878,4241125954,2014-10-31T00:00:00,809.0,NaN,NaN,CA,201502.0,3491,PA,BK,6621 LINDLEY AVE,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6402205.5,1892169.750
1235879,4241125965,2014-10-31T00:00:00,814.0,NaN,NaN,CA,NaN,1G1ZS58F47F170546,PA,SL,6430 RESEDA BLVD,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399558.0,1890949.875
1235880,4241125976,2014-10-31T00:00:00,815.0,NaN,NaN,CA,201412.0,9817,PA,GN,6430 RESEDA BLVD,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399558.0,1890949.875
1235881,4241125980,2014-10-31T00:00:00,819.0,NaN,NaN,CA,201508.0,0739,PA,SL,18325 HART ST,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6400761.5,1894682.000
1235882,4241125991,2014-10-31T00:00:00,820.0,NaN,NaN,CA,201504.0,3204,PU,BL,18325 HART ST,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6400761.5,1894682.000
1235883,4241126002,2014-10-31T00:00:00,820.0,NaN,NaN,CA,201510.0,NOT VISIBLE,PA,GY,18325 HART ST,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6400761.5,1894682.000
1235884,4242202285,2014-11-01T00:00:00,613.0,NaN,NaN,AZ,NaN,NOT VISIBLE,TR,WT,APPX 1073 12TH ST W,00500,56.0,155,STANDNG IN ALLEY,68.0,6470260.5,1725482.875
1235885,4242202296,2014-11-01T00:00:00,618.0,NaN,NaN,AZ,201410.0,0003,PU,WT,1073 WEST 12TH STREET,00500,56.0,155,STANDNG IN ALLEY,68.0,6470260.5,1725482.875
1235886,4242410012,2014-10-31T00:00:00,825.0,NaN,NaN,CA,201410.0,6106,PA,WT,7650 RESEDA BLVD,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399596.0,1898992.625
1235887,4242410023,2014-10-31T00:00:00,827.0,NaN,NaN,CA,201502.0,2865,PA,BK,7722 RESEDA BLVD,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399596.0,1899464.750
1235888,4242410034,2014-10-31T00:00:00,828.0,NaN,NaN,CA,NaN,9816,PA,WT,7850 RESEDA BLVD,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399599.5,1900312.750
1235889,4242410045,2014-10-31T00:00:00,830.0,NaN,NaN,CA,201410.0,7627,PA,SL,18505 STRATHERN ST,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399571.5,1901296.375
1235890,4242410056,2014-10-31T00:00:00,836.0,NaN,NaN,CA,201506.0,7310,PA,GY,18461 CANTARA ST,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399694.5,1902590.250
1235891,4242410060,2014-10-31T00:00:00,837.0,NaN,NaN,CA,201505.0,0446,PA,SL,18461 CANTARA ST,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399694.5,1902590.250
1235892,4242410071,2014-10-31T00:00:00,839.0,NaN,NaN,CA,201409.0,8144,PA,WT,8145 DARBY AVE,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6400659.0,1902316.750
1235893,4242410082,2014-10-31T00:00:00,841.0,NaN,NaN,CA,201411.0,2969,PA,WT,183315 CANTARA ST,00374,53.0,165,NO PARK/STREET CLEAN,73.0,99999.0,99999.000
1235894,4242410093,2014-10-31T00:00:00,844.0,NaN,NaN,CA,201504.0,5767,PA,SL,18515 INGOMAR ST,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399439.0,1899977.875
1235895,4242410104,2014-10-31T00:00:00,851.0,NaN,NaN,CA,201507.0,3556,PA,BK,7522 CANBY AVE,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6400250.0,1898406.625
1235896,4242410115,2014-10-31T00:00:00,905.0,NaN,NaN,CA,201509.0,8655,PA,GY,6150 RESEDA BLVD,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399551.5,1889042.750
1235897,4242410126,2014-10-31T00:00:00,906.0,NaN,NaN,CA,201509.0,7408,PA,SL,6210 RESEDA BLVD,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399552.0,1889467.250
1235898,4242410130,2014-10-31T00:00:00,906.0,NaN,NaN,CA,201502.0,8687,PA,WT,6210 RESEDA BLVD,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399552.0,1889467.250
1235899,4242410141,2014-10-31T00:00:00,907.0,NaN,NaN,CA,201411.0,6748,PA,SL,6210 RESEDA BLVD,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399552.0,1889467.250
1235900,4242410152,2014-10-31T00:00:00,913.0,NaN,NaN,CA,201503.0,COVERED,PA,GY,5730 RESEDA BLVD,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6399545.0,1886622.500
1235901,4242410163,2014-10-31T00:00:00,1004.0,NaN,NaN,CA,201503.0,7541,PA,BL,5320 NEWCASTLE AVE,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6403060.5,1883599.750
1235902,4242410174,2014-10-31T00:00:00,1007.0,NaN,NaN,PA,201507.0,6147,PA,BL,5320 NEWCASTLE AVE,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6403060.5,1883599.750
1235903,4242410185,2014-10-31T00:00:00,1008.0,NaN,NaN,CA,201410.0,2067,PA,SL,5446 NEWCASTLE AVE,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6403057.5,1884511.000
1235904,4242410196,2014-10-31T00:00:00,1009.0,NaN,NaN,CA,201503.0,7923,PA,BK,5446 NEWCASTLE AVE,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6403057.5,1884511.000
1235905,4242410200,2014-10-31T00:00:00,1012.0,NaN,NaN,CA,201508.0,6562,PA,SL,5447 ZELZAH AVE,00374,53.0,165,NO PARK/STREET CLEAN,73.0,6403763.0,1884545.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252308,4247296115,2014-11-03T00:00:00,1211.0,NaN,NaN,CA,201501.0,1655,PA,GN,240 WINDWARD AVE,00135,51.0,165,NO PARK/STREET CLEAN,73.0,6419148.0,1818605.250
1252309,4247296126,2014-11-03T00:00:00,1213.0,NaN,NaN,OR,201501.0,COVERED,PA,MR,240 WINDWARD AVE,00135,51.0,165,NO PARK/STREET CLEAN,73.0,6419148.0,1818605.250
1252310,4247296130,2014-11-03T00:00:00,1214.0,NaN,NaN,FL,201412.0,COVERED,PA,WT,200 B/O WINDWARD AVE,00135,51.0,165,NO PARK/STREET CLEAN,73.0,99999.0,99999.000
1252311,4247296141,2014-11-03T00:00:00,1215.0,NaN,NaN,FL,201412.0,COVERED,TR,WT,200 B/O WINDWARD AVE,00135,51.0,165,NO PARK/STREET CLEAN,73.0,99999.0,99999.000
1252312,4247314013,2014-11-03T00:00:00,1254.0,CC1246,NaN,CA,201505.0,0815,PA,SL,201 LOS ANGELES ST S,00664,56.0,266,METER EXP.,63.0,6487955.0,1840772.250
1252313,4247314024,2014-11-03T00:00:00,1307.0,CB3908,NaN,CA,201507.0,COVERED,PU,BK,447 WALL ST S,00664,56.0,266,METER EXP.,63.0,6487353.5,1838998.750
1252314,4247314046,2014-11-03T00:00:00,1417.0,AE4,NaN,CA,201410.0,6527,PA,WT,700 4TH PL E,00664,56.0,266,METER EXP.,63.0,6505844.0,1739356.875
1252315,4247320011,2014-11-03T00:00:00,805.0,CB710,NaN,IL,201405.0,0592,PA,BK,751 MAPLE AVE S,00667,56.0,266,METER EXP.,63.0,6525051.0,1823096.125
1252316,4247320022,2014-11-03T00:00:00,808.0,CB2543,NaN,CA,201501.0,1568,PA,SL,731 WALL ST S,00667,56.0,266,METER EXP.,63.0,6486201.5,1837533.250
1252317,4247320033,2014-11-03T00:00:00,810.0,CB2192,NaN,CA,201509.0,3132,PA,GY,735 SAN JULIAN ST S,00667,56.0,266,METER EXP.,63.0,6486472.5,1837241.000
1252318,4247320044,2014-11-03T00:00:00,830.0,CB3683,NaN,CA,201412.0,COVERED,PA,BK,752 MAIN ST S,00667,56.0,266,METER EXP.,63.0,6467016.5,1882970.125
1252319,4247320055,2014-11-03T00:00:00,836.0,CB3731,NaN,CA,NaN,JTHBW1GGXF2080614,PA,BK,440 MAIN ST S,00667,56.0,266,METER EXP.,63.0,6466429.5,1884460.750
1252320,4247320066,2014-11-03T00:00:00,905.0,NaN,NaN,CA,8.0,NV,TK,RD,640 WALL ST S,00667,56.0,54,DOUBLE PARKING,68.0,6486628.5,1838064.375
1252321,4247320070,2014-11-03T00:00:00,911.0,CB645B,NaN,CA,201505.0,0565,PA,SL,846 WALL ST S,00667,56.0,265,OUTSIDE LINES/METER,58.0,6485595.5,1836842.750
1252322,4247320081,2014-11-03T00:00:00,916.0,CB2189,NaN,CA,201508.0,6592,PA,SL,715 SAN JULIAN ST S,00667,56.0,266,METER EXP.,63.0,6486606.0,1837370.375
1252323,4247320092,2014-11-03T00:00:00,920.0,CB2727,NaN,CA,201502.0,8288,PA,GY,641 SAN PEDRO ST S,00667,56.0,266,METER EXP.,63.0,6487199.0,1837603.500
1252324,4247320103,2014-11-03T00:00:00,922.0,NaN,NaN,CA,201501.0,NV,PA,GY,545 SAN PEDRO ST S,00667,56.0,161,STOP/STAND PROHIBIT,93.0,6487601.0,1838238.000
1252325,4247320114,2014-11-03T00:00:00,936.0,LT20,NaN,CA,201503.0,5115,PA,WT,328 3RD ST E,00667,56.0,266,METER EXP.,63.0,6486434.5,1841096.125
1252326,4247320125,2014-11-03T00:00:00,937.0,LT24,NaN,CA,201505.0,4844,PA,BK,312 3RD ST E,00667,56.0,266,METER EXP.,63.0,6438310.0,1778785.125
1252327,4247320136,2014-11-03T00:00:00,940.0,CC1224,NaN,CA,201509.0,3746,PA,BK,322 LOS ANGELES ST S,00667,56.0,266,METER EXP.,63.0,6487441.0,1840003.125
1252328,4247320140,2014-11-03T00:00:00,949.0,NaN,NaN,CA,201509.0,2846,PA,GY,130 WINSTON ST,00667,56.0,152,RED ZONE,93.0,6486760.5,1839595.375
1252329,4247320151,2014-11-03T00:00:00,1019.0,LT311A,NaN,CA,201509.0,0778,PA,WT,356 BOYD ST,00667,56.0,266,METER EXP.,63.0,6487943.0,1839538.250
1252330,4247320162,2014-11-03T00:00:00,1023.0,CC1224,NaN,CA,201503.0,0057,PU,WT,322 LOS ANGELES ST S,00667,56.0,266,METER EXP.,63.0,6487441.0,1840003.125
1252331,4247320173,2014-11-03T00:00:00,1038.0,NaN,NaN,CA,9.0,NV,VN,WT,471 3RD ST E,00667,56.0,152,RED ZONE,93.0,6504955.0,1738919.625
1252332,4247320184,2014-11-03T00:00:00,1102.0,LT225,NaN,MO,201508.0,2754,PA,SL,400 3RD ST E,00667,56.0,266,METER EXP.,63.0,6504629.5,1738919.125
1252333,4247320195,2014-11-03T00:00:00,1110.0,CB3067A,NaN,CA,NaN,1N4AL3AP2EN224587,PA,GY,355 4TH ST E,00667,56.0,266,METER EXP.,63.0,6485950.0,1840638.125
1252334,4247320206,2014-11-03T00:00:00,1131.0,NaN,NaN,CA,11.0,NV,VN,BN,300 LOS ANGELES ST S,00667,56.0,152,RED ZONE,93.0,6487537.5,1840128.250
1252335,4247320221,2014-11-03T00:00:00,1153.0,LT288,NaN,CA,201509.0,7870,PA,GY,471 3RD ST E,00667,56.0,266,METER EXP.,63.0,6504955.0,1738919.625
1252336,4247320232,2014-11-03T00:00:00,1209.0,LT372A,NaN,CA,201503.0,9425,PA,SL,323 BOYD ST,00667,56.0,266,METER EXP.,63.0,6487783.0,1839600.375
1252337,4247320243,2014-11-03T00:00:00,1322.0,NaN,NaN,CA,3.0,NV,VN,BN,127 SAN PEDRO ST S,00667,56.0,92,FIRE HYDRANT,68.0,6488631.5,1840709.250

In [16]:
data["VIN"].fillna("NOT VISIBLE", inplace=True)

In [17]:
#need to redo this with k means
marked_time = data["Marked Time"]
data["Marked Time"].fillna(data["Marked Time"].mean, inplace=True)

In [18]:
#needs to be k means clustered
meter_id = data["Meter Id"]
data["Meter Id"].fillna("!!", inplace=True)

In [19]:
plate_expiry_date = data["Plate Expiry Date"]
data["Plate Expiry Date"].fillna(data["Plate Expiry Date"].mean, inplace=True)

In [20]:
#kmeans 
route = data["Route"]
data["Route"].fillna("00600", inplace=True)

In [21]:
body_style = data["Body Style"]
data['Body Style'].fillna("PA", inplace=True)

In [22]:
#kmeans
fine_amount = data["Fine amount"]
data["Fine amount"].fillna(data["Fine amount"].mean(), inplace=True)

In [23]:
#kmeans
color = data["Color"]
data["Color"].fillna("BK", inplace=True)

In [24]:
issue_time = data["Issue time"]
data["Issue time"].fillna(data["Issue time"].mean(), inplace=True)

In [25]:
data["Violation Description"].cat.add_categories("NO DESCRIPTION", inplace=True)
data["Violation Description"].fillna("NO DESCRIPTION", inplace=True)

In [26]:
location = data["Location"]
data["Location"].fillna("1301 ELECTRIC AVE", inplace=True)

In [27]:
RP_state_plate = data["RP State Plate"]
data["RP State Plate"].fillna("CA", inplace=True)

In [28]:
agency = data["Agency"]
data["Agency"].fillna(data["Agency"].mean(), inplace=True)

In [29]:
#kmeans
issue_date = data["Issue Date"]
data["Issue Date"].fillna("2016-01-19T00:00:00", inplace=True)

In [30]:
issue_date = data["Issue Date"]
data["Issue Date"].fillna("2016-01-19T00:00:00", inplace=True)

In [31]:
latitude = data["Latitude"]
longitude = data["Longitude"]
data["Latitude"].fillna("99999.0", inplace=True)
data["Longitude"].fillna("99999.0", inplace=True)

In [26]:
make
#test = make[make['Make'].isna()]
#train = make[make['Make'].isna()==False]

0           NaN
1           NaN
2           NaN
3           NaN
4          CHEV
5           NaN
6          MAZD
7           NaN
8           NaN
9           NaN
10         FORD
11         CHRY
12          NaN
13          NaN
14         TOYO
15          NaN
16          NaN
17          NaN
18         CHEV
19         HOND
20          NaN
21         NISS
22         HOND
23          NaN
24          NaN
25         FORD
26          NaN
27          NaN
28          NaN
29         TESL
           ...
8725984    TOYT
8725985     NaN
8725986     NaN
8725987     NaN
8725988     NaN
8725989    FORD
8725990     NaN
8725991     NaN
8725992    AUDI
8725993     NaN
8725994     NaN
8725995     NaN
8725996    VOLK
8725997     NaN
8725998    HOND
8725999    HOND
8726000    HOND
8726001     NaN
8726002     NaN
8726003    MERZ
8726004     NaN
8726005    PORS
8726006    FORD
8726007     NaN
8726008    PORS
8726009     NaN
8726010    HYUN
8726011    NISS
8726012     NaN
8726013     BMW
Name: Make, Length: 8726014, dtype: category
Categories (1477, object): [AAUD, AAVH, ABAR, ABC, ..., ZIEM, ZIEN, ZNEN, ZZ]

In [27]:
data.dtypes

Ticket number            category
Issue Date               category
Issue time                float16
Meter Id                 category
Marked Time                object
RP State Plate           category
Plate Expiry Date          object
VIN                      category
Body Style               category
Color                    category
Location                 category
Route                    category
Agency                    float16
Violation code           category
Violation Description    category
Fine amount               float16
Latitude                   object
Longitude                  object
dtype: object

In [32]:
hashing = HashingVectorizer(lowercase=True, stop_words='english')

In [33]:
data["Violation Description"] = hashing.fit_transform(data["Violation Description"])

In [58]:
data['Location'] = hashing.fit_transform(data['Location'])

In [35]:
le = LabelEncoder()
data["Meter Id"] = le.fit_transform(data["Meter Id"]) 
#MultiColumnLabelEncoder(columns=["Meter Id", "RP State Plate", "VIN", "Body Style", "Color", "Route", "Violation code"]).fit_transform(data)

In [36]:
data["RP State Plate"] = le.fit_transform(data["RP State Plate"])

In [37]:
data["VIN"] = le.fit_transform(data["VIN"])

In [38]:
data["Body Style"] = le.fit_transform(data["Body Style"])

In [39]:
data["Color"] = le.fit_transform(data["Color"])

In [40]:
data["Route"] = le.fit_transform(data["Route"])

In [41]:
data["Violation code"] = le.fit_transform(data["Violation code"])

In [ ]:
clusters = 3
while clusters < 20:
    k = KMeans(n_clusters = clusters, n_jobs = -1)
    preds = k.fit_predict(data.values)
    sil = silhouette_score(data, preds)
    print(clusters, sil)
    clusters +=1